{% load static %}

<div dir="rtl" id="footer">
  <div class="container text-center">
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div>
      <p>© 2023. تمامی حقوق محفوظ است. طراحی شده توسط <a href="https://ponisha.ir/profile/abbasabbasi" rel="nofollow">عباس عباسی</a></p>
    </div>
  </div>
</div>