{% extends 'base.html' %}

{% load static %}
{% block content %} <!-- Start of a content block -->
    <!-- Content goes here -->
<!-- Header -->
<header dir="rtl" id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1><strong>Interior Essence</strong> <span>/</span> استودیو طراحی داخلی</h1>
            <p>"استودیو طراحی داخلی: آفرینش فضاهای خلاقانه و منحصر به فرد برای خانه‌ها و فضاهای تجاری"</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">بیشتر بدانید</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>داستان ما</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 text-center"> <img src="{% static '/img/about.jpg' %}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h3>استودیوی ما</h3>
          <p>استودیو ما، یک تیم متخصص در طراحی داخلی با تمرکز بر خلق فضاهای منحصر به فرد و جذاب است. ما با استفاده از تخصص، خلاقیت و دانش فنی خود، به تحقق آرزوها و آرمان‌های مشتریانمان در زمینه دکوراسیون داخلی می‌پردازیم. با توجه به سلیقه‌ها و نیازهای مشتریان، طرح‌های منحصر به فردی ایجاد می‌کنیم که همچنین با رعایت اصول عملکردی و کاربرپسند، زندگی روزمره آن‌ها را آسانتر و لذت‌بخش‌تر می‌کند. با ارائه طراحی‌های خلاقانه، کیفیت بالا و هماهنگی دقیق در همه مراحل پروژه، ما سعی می‌کنیم تجربه‌ای شگفت‌انگیز برای مشتریانمان ایجاد کنیم و به آن‌ها فرصتی برای ارتقای استیل زندگی خود بدهیم. همچنین، همواره در تمامی پروژه‌ها به بهره‌وری از فناوری‌های نوین و مواد با کیفیت تمرکز می‌کنیم تا بهترین نتیجه را به مشتریان ارائه دهیم. با ما همراه شوید و تجربه‌ای شگفت‌انگیز از طراحی داخلی را تجربه کنید.</p>
          <h3>چگونگی کار ما</h3>
          <p> در استودیو ما، فرایند کارمان با توجه به نیازها و اهداف شما شخصی‌سازی می‌شود. در اینجا چگونگی کار ما را توضیح می‌دهیم:

            مشاوره و تحلیل: در ابتدا، ما با شما در ارتباط هستیم تا نیازها، سلیقه‌ها و اهدافتان را بشناسیم. با بررسی فضای مورد نظر، تحلیل می‌کنیم و برنامه‌ریزی اولیه را آغاز می‌کنیم.

            طراحی مفهومی: بر اساس اطلاعاتی که از شما به دست آورده‌ایم، طرح‌های مفهومی و ایده‌های خلاقانه برای فضای شما ایجاد می‌کنیم. این طرح‌ها شامل برداشت هنری، برنامه‌ریزی مکانی و انتخاب رنگ‌ها و مواد است.

            طراحی دقیق: پس از تأیید طرح مفهومی، به مرحله طراحی دقیق می‌پردازیم. در این مرحله، جزئیات فنی مورد نیاز مانند نورپردازی، دکوراسیون، مبلمان و اجزای دیگر را شناسایی و بهبود می‌دهیم.

            مراحل ساخت و اجرا: پس از تأیید طرح دقیق، ما به مراحل ساخت و اجرا می‌پردازیم. همکاری با تیم‌های متخصص و متعهد، ما را قادر می‌سازد تا پروژه را با کیفیت و به موقع به اتمام برسانیم.

            نظارت و مدیریت پروژه: در طول فرایند اجرا، ما نظارت مستمر داریم و با شما در ارتباط هستیم تا اطمینان حاصل کنیم که پروژه به طور صحیح پیش می‌رود و با انتظارات شما سازگار است.

            تحویل و پس ازفروش: پس از اتمام پروژه، آن را به شما تحویل می‌دهیم. همچنین، پس ازفروش ما ارتباط را با شما حفظ می‌کنیم تا در صورت نیاز به خدمات پشتیبانی و تغییرات بعدی، در خدمت شما باشیم.

            با روش کار ما، تضمین می‌کنیم که تجربه‌ی شما در طول فرایند طراحی داخلی با ما، سازگاری کامل داشته باشد و نتیجه‌ای که به دنبال آن هستید را به شما ارائه دهیم.

            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section -->
<div id="services">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>خدمات ما</h2>
      <hr>
      <p>خدمات ما شامل طراحی داخلی شخصی‌سازی شده، مشاوره طراحی، برنامه‌ریزی فضایی، انتخاب رنگ و مواد، نورپردازی، دکوراسیون، انتخاب مبلمان و لوازم دکوری، نظارت بر اجرا و مدیریت پروژه است. تضمین ما، ایجاد فضاهای زیبا، عملکردی و هماهنگ با سلیقه و نیازهای شماست.</p>
    </div>
    <div class="row">
        {% for service in services %}

              <div class="col-xs-12 col-sm-4 service"> <img src="{{ service.image.url }}" class="img-responsive" alt="Project Title">
                <h3>{{ service.title }}</h3>
                <p>{{ service.description }}</p>
                {% if services.url %}
                    <a href="{{ service.url }}">به وبسایت بروید</a>
                {% endif %}
              </div>
        {% endfor %}

    </div>
  </div>
</div>


<!-- Team Section -->
<div dir="rtl" id="team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>آشنایی با تیم</h2>
        <hr>
        <p>تیم ما از افراد با تخصص و تجربه در زمینه طراحی داخلی تشکیل شده است که با همکاری، خلاقیت و تعهد خود، به خلق فضاهای استثنایی و زیبا می‌پردازند.</p>
      </div>

      <div id="row">
         {% for teammember in  teammembers %}
             <div class="col-md-3 col-sm-6 team">
                  <div class="thumbnail"> <img src="{{ teammember.image.url }}" alt="..." class="team-img">
                    <div class="caption">
                      <h3>{{ teammember.title }}</h3>
                      <p>{{ teammember.description }}</p>
                    </div>
                  </div>
             </div>
         {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="section-title text-center">
      <h2>تماس با ما</h2>
      <hr>
      <p>شما می‌توانید با ما تماس بگیرید تا در مورد هر گونه سؤال، درخواست یا همکاری صحبت کنید. ما به ارائه خدمات حرفه‌ای و پاسخگویی به نیازهای شما افتخار می‌کنیم</p>
    </div>
    <div class="col-md-4">
      <h3>اطلاعات تماس:</h3>
      <div class="contact-item"> <span>آدرس: </span>
        <p>4321 California St,<br>
          San Francisco, CA 12345</p>
      </div>
      <div class="contact-item"> <span>ایمیل:</span>
        <p>info@company.com</p>
      </div>
      <div class="contact-item"> <span>تلفن:</span>
        <p> +1 123 456 1234</p>
      </div>
    </div>
    <div class="col-md-8">
      <h3>پیام خود را بگذارید</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="نام" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="ایمیل" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="پیام" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">ارسال پیام</button>
      </form>
    </div>
  </div>
</div>

{% endblock %} <!-- End of the content block -->