{% load static %}

<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="{% url 'index' %}">Interior Essence</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'index' %}#about" class="page-scroll">درباره ما</a></li>
        <li><a href="{% url 'index' %}#services" class="page-scroll">خدمات</a></li>
        <li><a href="{% url 'project:allProjects' %}" class="page-scroll">پروژه‌ها</a></li>
        <li><a href="{% url 'index' %}#team" class="page-scroll">تیم</a></li>
        <li><a href="{% url 'index' %}#contact" class="page-scroll">تماس</a></li>
        {% include 'search.html' %}"
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>